<div class="content">
    <div class="content-center">
        <div class="content-margin content-section">
            <h2>How Do I build My Web Applications?</h2>
            <p class="color-light">
                Download a current copy of my resume by clicking the button!
            </p>
            <button download="drew_miller_resume" target="_blank" href="/assets/pdf/drew_miller_resume.pdf">
                Resume
            </button>
        </div>
        <div class="content-margin content-section">
            <a href="https://angular.io/">
                <img id="angular" src="assets/images/angular_logo.png" />
            </a>
            <p>
                For my front end, I use the Angular Framework.
                Angular allows me to manage user interactions,
                create and send requests to my service, and validate forms.
            </p>
            <hr>
        </div>
        <div class="content-margin content-section">
            <a href="https://docs.microsoft.com/en-us/dotnet/core/">
                <img id="net_core" src="assets/images/net_core_logo.png" />
            </a>
            <p>
                I create my services are built using .NET Core 3.
                For architecture, I use .NET Core MVC and RESTful patterns.
                MVC allows you to leverage many features such as;
                model validation, Cross-Site Request Forgery Protection,
                and can add documentation easily using Swagger.
            </p>
            <hr>
        </div>
        <div class="content-margin content-section">
            <a href="https://docs.microsoft.com/en-us/ef/core/">
                <img id="ef_core" src="assets/images/ef_core_logo.png" />
            </a>
            <p>
                My data access layer is built using Entity Framework Core (EF Core).
                For my actual database, depending on my developing environment,
                I either utilize MSSQL on Windows, or Sqlite on OSX.
                EF Core provides model validation against your database,
                type checking available in queries,
                removes the need mantaining any magic SQL strings,
                and EF migrations to easily keep track and update changes.
            </p>
            <hr>
        </div>
    </div>
</div>
