<div class="content">
    <div class="content-center">
        <div class="content-margin" style="max-width: 90%; text-align:center">
            <h2>How Do I build My Web Applications?</h2>
            <p>
                For more info about me, you can download a current<br />
                copy of my resume by clicking the button below!
            </p>
            <button download="drew_miller_resume" target="_blank" href="/assets/pdf/drew_miller_resume.pdf">
                Resume
            </button>
        </div>
        <ul class="content-margin" style="max-width: 80%;">
            <li class="flex-left">
                <img id="angular" src="assets/images/angular_logo.png" />
                <p>
                    I use Angular to build my Web projects.
                    I use Angular to build my Web projects.
                    I use Angular to build my Web projects.
                    I use Angular to build my Web projects.
                    I use Angular to build my Web projects.
                    I use Angular to build my Web projects.
                </p>
            </li>
            <li class="flex-right">
                <img id="net_core" src="assets/images/net_core_logo.png" />
                <p>
                    I use .NET Core 3 MVC to build my serivce projects.
                    I use .NET Core 3 MVC to build my serivce projects.
                    I use .NET Core 3 MVC to build my serivce projects.
                    I use .NET Core 3 MVC to build my serivce projects.
                    I use .NET Core 3 MVC to build my serivce projects.
                    I use .NET Core 3 MVC to build my serivce projects.
                </p>
            </li>
            <li class="flex-left">
                <img id="ef_core" src="assets/images/ef_core_logo.png" />
                <p>
                    I use Entity Framework Core to create my data access layer.
                    I use Entity Framework Core to create my data access layer.
                    I use Entity Framework Core to create my data access layer.
                    I use Entity Framework Core to create my data access layer.
                    I use Entity Framework Core to create my data access layer.
                    I use Entity Framework Core to create my data access layer.
                </p>
            </li>
        </ul>
    </div>
</div>
