<div class="content">
    <div class="content-center">
        <h2>How Do I build My Web Applications?</h2>
        <p>
            For more info about me, you can download a current 
            copy of my resume by clicking the button below!
        </p>
        <button download="drew_miller_resume" target="_blank" href="/assets/pdf/drew_miller_resume.pdf">
            Resume
        </button>
        <ul>
            <li class="flex-left">
                <img id="angular" src="assets/images/angular_logo.png" />
                <div class="text-container">
                    <div class="text-center">
                        <p>I use Angular to build my Web projects.</p>
                    </div>
                </div>
            </li>
            <li class="flex-right">
                <img id="net_core" src="assets/images/net_core_logo.png" />
                <div class="text-container">
                    <div class="text-center">
                        <p>I use .NET Core 3 MVC to build my serivce projects.</p>
                    </div>
                </div>
            </li>
            <li class="flex-left">
                <img id="ef_core" src="assets/images/ef_core_logo.png" />
                <div class="text-container">
                    <div class="text-center">
                        <p>I use Entity Framework Core to create my data access layer.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
