@import 'src/assets/scss/_mixins.scss';

$logo-size-small: 100px;
$angular-logo-size: calc(#{$logo-size-small} * 19 / 15);

#angular {
    height: $angular-logo-size;
    margin-left: calc((#{$logo-size-small} - #{$angular-logo-size}) / 2);
}

#net_core {
    height: $logo-size-small;
}

#ef_core {
    height: $logo-size-small;
    border-radius: 50%;
}

li.flex-left, li.flex-right {
    align-items: center;
}

img {
    order: 0;
}

.content-section {
    text-align: center;
    width: 300px;
    margin-bottom: 80px!important;
}

@media only screen and (max-width: 980px) {
    .content-section {
        width: 450px
    }
}

@media only screen and (max-width: 494px) {
    .content-section {
        width: 90%;
    }
}
