$font-color-light: #bababa;
$font-color-dark: #020202;
$font-color-p: #777777;
$font-color-title: #333333;

$background-color-dark: #bababa;
$background-color-light: #e6e6e6; 

$font-size-small: 11px;
$font-size-med: 14px;

$margin-size-small: 14px;

$screen-size-small: 980px;
$screen-size-mobile: 494px;

$logo-size-big: 200px;
$logo-size-small: 100px;
