<div class="content">
    <div class="content-center">
        <div class="content-margin content-section">
            <h2>How Do I build My Web Applications?</h2>
            <p class="color-light">Click the button to download my resume!</p>
            <a download="drew_miller_resume" target="_blank" href="/assets/pdf/drew_miller_resume.pdf">
                <button>Resume</button>
            </a>
        </div>
        <div class="content-margin content-section">
            <a href="https://angular.io/">
                <img id="angular" src="assets/images/angular_logo.png" />
            </a>
            <p>I use Angular to create client side applications</p>
            <hr>
        </div>
        <div class="content-margin content-section">
            <a href="https://docs.microsoft.com/en-us/dotnet/core/">
                <img id="net_core" src="assets/images/net_core_logo.png" />
            </a>
            <p>.NET Core is the framework I use to build APIs</p>
            <hr>
        </div>
        <div class="content-margin content-section">
            <a href="https://docs.microsoft.com/en-us/ef/core/">
                <img id="ef_core" src="assets/images/ef_core_logo.png" />
            </a>
            <p>My data access layer is built using Entity Framework Core (EF Core)</p>
            <hr>
        </div>
    </div>
</div>
