<div class="content">
    <div class="content-center">
        <div class="content-margin content-section">
            <h2>How Do I build My Web Applications?</h2>
            <p class="color-light">Click the button to download my resume!</p>
            <a download="drew_miller_resume" target="_blank" href="/assets/pdf/drew_miller_resume.pdf">
                <button>Resume</button>
            </a>
        </div>
        <div class="content-margin content-section">
            <a href="https://angular.io/">
                <img id="angular" src="assets/images/angular_logo.png" />
            </a>
            <pre>
                I use Angular to create front end.
                Features I utilize in my angular applications:
                <div>
                    • Lazy loading
                    • HTTP intercetptors
                    • Route Guards
                    • Route Resolvers
                    • Angular & Reactive Forms
                    • RXJS
                </div>
                <div>
                    <pre>
                        • Lazy loading
                        • HTTP intercetptors
                        • Route Guards
                        • Route Resolvers
                        • Angular & Reactive Forms
                        • RXJS
                    </pre>
                </div>
                • Lazy loading
                • HTTP intercetptors
                • Route Guards
                • Route Resolvers
                • Angular & Reactive Forms
                • RXJS
            </pre>
            <hr>
        </div>
        <div class="content-margin content-section">
            <a href="https://docs.microsoft.com/en-us/dotnet/core/">
                <img id="net_core" src="assets/images/net_core_logo.png" />
            </a>
            <pre>
                I use .NET Core to build API.
                My architecture includes repository patterns, DI for unit of work services, and REST API.
                Other features I utilize in my APIs:
                • Swagger Documentation
                • Validation
                • Antiforgery
                • HTTPS
                • Nunit
            </pre>
            <hr>
        </div>
        <div class="content-margin content-section">
            <a href="https://docs.microsoft.com/en-us/ef/core/">
                <img id="ef_core" src="assets/images/ef_core_logo.png" />
            </a>
            <pre>
                My data access layer is built using Entity Framework Core (EF Core).
                EF Core provides type safety validation against SQL data.
            </pre>
            <hr>
        </div>
    </div>
</div>
