<div class="container">
    <div class="portrait">
        <div id="portraint-image"></div>
    </div>
    <div class="content">
        <div class="content-center">
            <div class="text">
                <h2>Hi! My name is Drew Miller.</h2>
                <h2>I am a Software Developer.</h2>
                <p>
                    I was born and raised in Hudson, Wisconsin.
                    I have always had a passion for design,
                    as a kid I was always asking to redo the colors of my room and move the furniture around.
                    I love traveling and was lucky enough to have studied abroad in London, England where I attended South Bank University,
                    and had an internship at an architecture firm.
                    I am excited to see where interior design takes me, and how I  grow as a designer. 
                </p>
            </div>
        </div>
    </div>
</div>