<div class="dividing-container">
    <div class="portrait">
        <div id="selfie" class="two"></div>
    </div>
    <div class="content">
        <div class="content-center">
            <div class="content-margin">
                <h2>Hi! My name is Drew Miller.</h2>
                <h2>I am a Software Developer.</h2>
                <p>
                    I was born and raised in Moses Lake, Washington.
                    From the time of my youth, I enoyed creating and building. 
                    When I first got my own laptop computer, I was the sort of person to spend hours online
                    searching help and trying to configure my computer and it's software the way I wanted.
                    I studied for my degree at Washington State University in Pullman, Washington.
                    Right now, my life has a lot of opportunities and paths that are opening up and I'm just
                    trying to have some fun while seeing where it takes me.
                </p>
            </div>
        </div>
    </div>
</div>