<div class="dividing-container">
    <div class="portrait">
        <div id="selfie" class="two"></div>
    </div>
    <div class="content">
        <div class="content-center">
            <div class="content-margin">
                <h2>Hi! My name is Drew Miller.</h2>
                <h2>I am a Software Developer.</h2>
                <p>
                    I was born and raised in Moses Lake, Washington.
                    I spent a lot of my childhood building with legos.
                    Following documents to figure out technical issues then came easy.
                    I studied for my degree at Washington State University in Pullman, Washington.
                    I'm passionate about technology and open to opportunities for discovery.
                </p>
            </div>
        </div>
    </div>
</div>