<header class="margin-large-y">
  <div class="margin-large-x">
    <div class="header-logo">
      <img id="logo" height="200px" width="200px" src="assets/images/dm_logo.jpeg" />
    </div>
    <nav class="header-nav center-vertical">
      <a href="home" [class.active]="route === '/home'">About</a> •
      <a href="projects" [class.active]="route === '/projects'">Projects</a> •
      <a href="contact" [class.active]="route === '/contact'">Contact Me</a>
    </nav>
    <div class="clearfix"></div>
  </div>
</header>