@import 'src/assets/scss/_variables.scss';
@import 'src/assets/scss/_mixins.scss';

:host {
    display: block;
}

.field-wrapper, .form-field {
    position: relative;
    display: inline-block;
    width: 100%;
}

.form-field {
    margin: 0 0 25px;
}

.title {
    display: block;
    margin-bottom: 5px;
}

%split-field {
    width: 49%!important;
}

.field-left {
    @extend %split-field;
    float: left;
}

.field-right {
    @extend %split-field;
    margin-left: 2%;
    float: right;
}

.field-element, .sub-label {
    color: $font-color-p;
    font-weight: 400;
}

.field-element {
    font-size: $font-size-med;
    width: 100%;
    border: 1px solid rgba($font-color-dark, 0.2);
    box-sizing: border-box;
}

.sub-label {
    font-size: $font-size-small;
}

@media only screen and (max-width: $screen-size-small) {
    %split-field {
        width: 100%!important;
        margin-left: 0;
        float: none;
    }
}