<form *ngIf="!Success" [formGroup]="Form" (ngSubmit)="FormSubmit()">
    <div class="field-wrapper">
        <label class="title">Name *</label>
        <div class="form-field field-left">
            <input type="text" formControlName="FirstName" class="field-element">
            <label class="sub-label">First Name</label>
        </div>
        <div class="form-field field-right">
            <input type="text" formControlName="LastName" class="field-element">
            <label class="sub-label">Last Name</label>
        </div>
    </div>
    <div class="form-field">
        <label class="title">Email *</label>
        <input type="text" formControlName="Email" class="field-element">
    </div>
    <div class="form-field">
        <label class="title">Message: *</label>
        <textarea formControlName="Message" class="field-element"></textarea>
    </div>
    <button style="margin-left: 40px;" type="submit">Submit</button>
</form>

<div *ngIf="Success">
    <h3>Thank you for you message!</h3>
    <p><span>Name: </span>{{this.FullName}}</p>
    <p><span>Email: </span>{{this.Email}}</p>
    <p>
        <span>Message: </span>
        {{this.Message}}
    </p>
</div>