@import 'src/assets/scss/_mixins.scss';

footer {
    @include body-padding-mixin;

    * {
        display: inline-block;
    }
}

p, a {
    font-size: 14px;
    color: #e6e6e6;
}

.footer-item {
    cursor: pointer;
    padding-left: 15px;
}

@media only screen and (max-width: 980px) {
    footer {
        @include center-all-mixin;
        flex-direction: row;
    }
}

@media only screen and (max-width: 494px) {
    footer {
        flex-direction: column-reverse;
    }

    .footer-item {
        padding-left: 0px;
    }
}
