@import 'src/assets/scss/_variables.scss';
@import 'src/assets/scss/_mixins.scss';

footer {
    @include body-padding-mixin;

    * {
        display: inline-block;
    }
}

p, a {
    font-size: $font-size-med;
    color: $font-color-light;
}

.footer-item {
    cursor: pointer;
    padding-left: 15px;
}

@media only screen and (max-width: $screen-size-small) {
    footer {
        @include center-all-mixin;
    }
}