<header class="header-spacing">
    <div class="header-common">
        <div class="header-logo">
            <img id="logo" src="assets/images/dm_logo.jpeg" />
        </div>
        <nav class="center-vertical">
            <ul class="horizontal">
                <ng-container *ngFor="let item of NavItems">
                <li>
                    <a (click)="Navigate($event, item.Link)"
                        [href]="item.Link"
                        [class.curr-active-link]="item.Link === CurrentRoute">
                        {{ item.Title }}
                    </a>
                </li>
                <li>
                    <span style="color: rgb(216, 216, 216);">•</span>
                </li>
                </ng-container>
            </ul>
            <socials></socials>
        </nav>
        <div class="clearfix"></div>
    </div>
</header>