@import 'src/assets/scss/_mixins.scss';

.header-spacing {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 0%;
    padding-left: 0%;
}

.header-common {
    position: relative;
    z-index: 1051;
    @include body-padding-mixin;
}

nav {
    height: 200px;
    max-width: 75%;
    float: right;
}

.header-logo {
    float: left;
    width: 200px;
}

#logo {
    height: 200px;
    width: 200px;
}

.curr-active-link {
    color: #020202!important;
}

@media only screen and (max-width: 980px) {
    nav, .header-logo {
        float: none;
        margin: auto;
    }

    nav {
        @include center-all-mixin;
    }
}

@media only screen and (max-width: 494px) {
    nav {
        flex-direction: column;
    }
}
